.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store

# Environment variables & secrets
.env
.env.*
!.env.example

# Build outputs & dependencies
public/
resources/_gen/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
